.list {
  padding: 20px;
  margin: 0;
  border-radius: 4px;
  font-size: 24px;
  user-select: none;
}

.button {
  float: right;
  color: white;
  font-weight: 600;
  padding: 10px 14px;
  border: none;
  background-color: rgb(255, 85, 0);
  border-radius: 6px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.list_container {
  margin: 40px;
  margin-top: 0;
  padding: 0 20px;
  background-color: rgb(248, 215, 69);
  box-shadow: 0 0 4px black;
}

.list_container hr {
  margin: 0;
  border: 1px solid gray;
}

.list_container hr:last-child {
  display: none;
}
