.container {
    margin: 32px auto;
    width: 300px;
}

.input {
    background-color: white;
    border: none;
    width: 100%;
    font-size: 16px;
    border-radius: 16px;
    padding: 16px 20px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    outline: none;
}